---
# Default home page with boxes providing collection stats
layout: page
---

<div class="row justify-content-center">
  <div class="col-md-10">
    <h1 class="display-5 home-title mb-5">Genealogy Test <br>
      <span class="fs-1 ms-md-5">A Family History Collection and Genealogical Report</span></h1>
  </div>
  <div class="col-md-7 mb-4">
    {% include feature/image.html objectid="https://live.staticflickr.com/65535/48619198817_13173a6de0_b.jpg" caption="Genealogy Placeholder Photo" %}
    
  </div>
  <div class="col-md-5 mb-4">
    {{ content }}

  </div>

</div>