---
# Default home page with boxes providing collection stats
layout: page
---

<div class="row justify-content-center">
  <div class="col-md-10">
    <h1 class="display-5 home-title mb-5"><b>Clarence Knuckles:</b> A Genealogical Report and Family History Collection</h1>
  </div>
  <div class="col-md-7 mb-4">
    {% include feature/image.html objectid="knuckles_clarence_gravestone" caption="Clarence Knuckles Gravesite" %}
    
  </div>
  <div class="col-md-5 mb-4">
    {{ content }}

  </div>

</div>